
/* ====== Medium Device Responsive =====  */

@media (min-width: 768px) and (max-width: 991.98px) {
    
    .input-form{
        width: 80%;
        margin: 0 auto;
        border: none;
    }
    .card{
        margin-bottom: 20px;
    }
    .team_about{
        padding: 20px 10px;
    }
    .team_about h4{
        font-size: 16px;
    }
    .team_about h4{
        font-size: 16px;
    }
    .team_about h5{
        font-size: 14px;
    }
    .team_about p{
        font-size: 14px;
    }
}

/* ====== Small Device Responsive =====  */

@media (min-width: 576px) and (max-width: 767.98px) {
    .count-1{
        margin-bottom: 20px;
    }
 
    .input-form{
        width: 90%;
        margin: 0 auto;
        border: none;
    }
    .card{
        margin: 10px auto;
    }
    .testimonial-img img{
        float: none;
        margin-bottom: 20%;
        margin-left: 28%;
     }
     .team-main{
        margin-bottom: 38%;
    }
    #awesome_team {
        padding-bottom: 0px!important;
    }
 }

 /* ===== Extra Small Device ====== */

@media (max-width: 575.98px) {
.banner-txt h5{
    font-size: 14px;
    line-height: 14px;
}
.banner-txt h2{
    font-size: 30px;
    line-height: 40px;
}
.banner-txt p{
    font-size: 14px;
    line-height: 26px;

}
.count-1{
    margin-bottom: 20px;
}
.card{
    margin: 10px auto;
}
.testimonial-img img{
   float: none;
   margin-bottom: 20%;
   margin-left: 28%;
}
.team-main{
    margin-bottom: 58%;
}
#awesome_team {
    padding-bottom: 0px!important;
}
.email-text h2{
    font-size: 20px;
}
.email-text p{
    font-size: 14px;
}
.input-form{
    width: 90%;
    margin: 0 auto;
    border: none;
}
.link-txt{
    margin-bottom: 20px;
   text-align: center!important;
}
}